body {
    margin: 0px 110px;
    font-family: sans-serif;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation .logo,
  .navigation .menu,
  .navigation .cta {
    display: flex;
    align-items: center;
  }
  
  .navigation .menu {
    justify-content: space-around;
  }
  
  .navigation a,
  .navigation button {
    margin: 30px 40px;
    text-decoration: none;
    color: rgb(83, 82, 82);
    font-size: large;
  }
  
  .navigation a:hover {
    color: orange;
  }
  
  .navigation .logo img {
    height: 40px;
  }
  
  .navigation .logo-text {
    margin: 0 10px;
    font-weight: 900;
    font-size: larger;
  }
  
  .navigation .cta button {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  
  .navigation .cta button:hover {
    background-color: rgb(251, 72, 27);
  }
  
  .content {
    display: flex;
    margin-bottom: 50px;
  }
  
  .content-text {
    flex: 1.5;
    margin-top: 120px;
  }
  
  .content-text .heading {
    font-size: 70px;
    font-weight: bold;
    line-height: 100px;
    margin-bottom: -10px;
  }
  
  .content-text .subtext {
    font-size: 30px;
    color: #615f5f;
    line-height: 32px;
    margin: 10px;
    padding: 10px;
    border-left: 1px solid black;
  }
  
  .content-text .buttons {
    display: flex;
    margin-top: 30px;
  }
  
  .content-text .buttons button {
    height: 50px;
    width: 200px;
    font-size: 22px;
    border: 1px solid black;
  }
  
  .content-text .get-started {
    background-color: rgb(251, 72, 27);
    margin-right: 40px;
  }
  
  .content-image img {
    flex: 1;
    height: 640px;
  }
  
  .footer-section{
    display: flex;
    height: 300px;
    width: 100%;
    background-color: rgb(23, 23, 74);
    margin: 0;
    padding: 0 110px; 
    margin: 0px -110px;
  }
  .footer-section__block{
    width: 450px;
    height: 100%;
  }
  .footer-section__title--large{
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: -5px;
  }
  .footer-section__description{
    color: white;
    font-size: 19px;
  }
  .footer-section__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .footer-section__img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 9px;
  }
  .footer-section__title{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -5px;
  }
  .footer-section__img-container-color-1{
    background-color: rgb(103, 233, 192);
  }
  .footer-section__img-container-color-2{
    background-color: rgb(223, 108, 31);
    
  }
  .footer-section__img-container-color-3{
    background-color: rgb(8, 54, 152);
    
  }